<section class="hero" id="home">
    <div class="hero-text">
        <p class="intro">Hello, I'm</p>
        <h1>James Keoch <span>Carillo</span></h1>
        <p class="desc">
            A recent graduate of BS Information Technology with a strong passion for technology, 
            full-stack development, and data-driven solutions. Skilled in solving technical problems, 
            working with data, and building innovative systems that address real-world challenges.
            Eager to apply academic knowledge in IT support, data analysis, and web development 
            while contributing to a dynamic, growth-oriented organization. Committed to continuous 
            learning and professional development in the ever-evolving tech industry.

            <div class="buttons">
                <a href="#projects" class="btn primary">View My Work</a>
                <a href="#contact" class="btn outline">Contact Me</a>
            </div>
            <div class="achievements">
                <div class="achv"><span>📂</span> Academic Projects</div>
                <div class="achv"><span>🏅</span> 20+ Certifications</div>
            </div>
</div>
    <div class="hero-img">
        <img src="assets/img/intropic2.png" alt="Profile Photo">
    </div>
</section>
